.card-links {
  display: flex;
  border: 1px solid #EDEDEE;
  border-radius: 8px;
  padding: 25px;
  margin: 5px;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 1480px){
  .card-links {
    width: 49%;
  } 
}

.card-links:hover{
  background-color: #FFEEEE;
}

.card-image {
  width: 175px;
  min-width: 175px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 30px;
}

@media (max-width: 991.98px) {
  .card-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.5rem;
}

.address {
  font-size: 16px;
}

.card-icons{
  font-size: 20px;
}

.card-icons-group {
  margin-top: 10px;
}

@media (max-width: 991.98px) {
  .card-icons-group > span {
    display: block;
    padding-bottom: 10px;
  }
}