body {
  margin: 0 auto;
  background-color: #F6F6F6;
}

body header, body main, body footer {
  padding-left: 5%;
  padding-right: 5%;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #000;
  text-decoration: none;
}

footer p{
  margin: 0;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

main {
    padding-top: 80px;
}

.cards {
  margin: 0 -10px;
}
